:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar span {
  padding-left: 20px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

footer {
  color:white;
  background-color: #1976d2;
  font-weight: bold;
  padding: 20px;
  position: fixed;
  top: 730px;
  left: 0;
  right: 0;
}

nav a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  padding: 20px;
  font-weight: bold;
  font-size: larger;
  border: 1px #1976d2 solid;
  background-color: #1976d2;
}

nav{
  margin-bottom: 40px;
  margin-top: 20px;
}

nav a:hover{
  background-color: white;
  color: #1976d2;
}
